server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: {{ monitoring_agent_promtail_loki_url }}
    tenant_id: {{ monitoring_agent_promtail_loki_tenant_id }}

scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      __path__: /var/log/test-promtail-scrape.log
