# {{ ansible_managed }}
DATA_SOURCE_NAME=postgresql://{{ monitoring_agent_postgres_exporter_user }}:{{ monitoring_agent_postgres_exporter_password }}@{{ monitoring_agent_postgres_exporter_host }}:{{ monitoring_agent_postgres_exporter_pg_port }}/{{ monitoring_agent_postgres_exporter_database }}?sslmode=disable
