# {{ ansible_managed }}
ODYSSEY_PORT={{ odyssey_listen_port }}
LOADGEN_USER={{ odyssey_backend_user }}
LOADGEN_PASSWORD={{ odyssey_backend_password }}
WRITE_DB={{ odyssey_write_database_name }}
READ_DB={{ odyssey_read_database_name }}
