{% set monitoring_server_victoria_metrics_scrape_node_exporter_targets=[] %}
{%  for host in groups['monitoring_agents'] -%}
{% if hostvars[host].get('monitoring_agent_node_exporter_enabled', false) %}
{{ monitoring_server_victoria_metrics_scrape_node_exporter_targets.append(hostvars[host]['ansible_facts']['default_ipv4']['address'] + ':' + (monitoring_agent_node_exporter_port | default(monitoring_server_victoria_metrics_scrape_node_exporter_port_default) | string ) ) }}
{% endif %}
{% endfor %}
[
    {
        "targets": {{ monitoring_server_victoria_metrics_scrape_node_exporter_targets | to_json }}
    }
]
