{%- set monitoring_server_victoria_metrics_scrape_ipa_exporter_targets=[] %}
{%- for host in groups['monitoring_agents'] -%}
{%- if hostvars[host].get('monitoring_agent_ipa_exporter_enabled', false) %}
{%- set targethost = hostvars[host].get('ansible_host', host)  %}
{{ monitoring_server_victoria_metrics_scrape_ipa_exporter_targets.append(targethost + ':' + (hostvars[host].get('monitoring_agent_ipa_exporter_port', monitoring_server_victoria_metrics_scrape_ipa_exporter_port_default) | string ) ) }}
{%- endif %}
{%- endfor %}
{{ [{"targets": monitoring_server_victoria_metrics_scrape_ipa_exporter_targets}] | to_nice_json }}
