// {{ ansible_managed }}

options {
    directory "/var/cache/bind";

    listen-on { {{ infra_dns_listen_on | join('; ') }}; };
    listen-on-v6 { {{ infra_dns_listen_on_v6 | join('; ') }}; };

    allow-query { {{ infra_dns_allow_query | join('; ') }}; };
    allow-transfer { {{ infra_dns_allow_transfer | join('; ') }}; };

    recursion {{ 'yes' if infra_dns_recursion else 'no' }};
{% if infra_dns_recursion %}
    allow-recursion { {{ infra_dns_allow_query | join('; ') }}; };
{% endif %}

{% if infra_dns_forwarders | length > 0 %}
    forwarders {
{% for fwd in infra_dns_forwarders %}
        {{ fwd }};
{% endfor %}
    };
    forward only;
{% endif %}

    dnssec-validation {{ infra_dns_dnssec_validation }};
};
