// {{ ansible_managed }}

{% for zone in infra_dns_zones %}
zone "{{ zone.name }}" {
    type master;
    file "{{ infra_dns_zone_dir }}/{{ zone.name }}";
    allow-transfer { {{ infra_dns_allow_transfer | join('; ') }}; };
};

{% endfor %}
