---
# defaults file for monitoring-agent
monitoring_agent_config_dir: /opt/monitoring-agent
monitoring_agent_dist_dir: "{{ monitoring_agent_config_dir }}/dist"

# docker, systemd
monitoring_agent_orchestrator: docker

monitoring_agent_systemd_unit_dir: /etc/systemd/system
monitoring_agent_systemd_sysconfig_dir: /etc/sysconfig

monitoring_agent_promtail_enabled: false
monitoring_agent_promtail_config_dir: "{{ monitoring_agent_config_dir }}/promtail"
monitoring_agent_promtail_image_registry: docker.io
monitoring_agent_promtail_image_repository: grafana/promtail
monitoring_agent_promtail_image_version: "3.6.0"
monitoring_agent_promtail_image: >-
  {{ monitoring_agent_promtail_image_registry }}/{{ monitoring_agent_promtail_image_repository }}:{{ monitoring_agent_promtail_image_version }}
monitoring_agent_promtail_loki_addr: http://loki:3100
monitoring_agent_promtail_loki_url: "{{ monitoring_agent_promtail_loki_addr }}/loki/api/v1/push"
monitoring_agent_promtail_loki_tenant_id: 1

monitoring_agent_node_exporter_enabled: false
monitoring_agent_node_exporter_image_registry: quay.io
monitoring_agent_node_exporter_image_repository: prometheus/node-exporter
monitoring_agent_node_exporter_image_version: v1.10.2
monitoring_agent_node_exporter_image: >-
  {{ monitoring_agent_node_exporter_image_registry }}/{{ monitoring_agent_node_exporter_image_repository }}:{{ monitoring_agent_node_exporter_image_version }}
monitoring_agent_node_exporter_port: '9100'
monitoring_agent_node_exporter_systemd_name: node_exporter
monitoring_agent_node_exporter_binary_download_url: https://github.com/prometheus/node_exporter/releases/download/v1.10.2/node_exporter-1.10.2.linux-amd64.tar.gz
monitoring_agent_node_exporter_binary_install_path: /usr/sbin/node_exporter

monitoring_agent_docker_exporter_enabled: false
monitoring_agent_docker_exporter_patch_docker: true
monitoring_agent_docker_exporter_docker_daemon_json: /etc/docker/daemon.json
monitoring_agent_docker_exporter_port: 9323
monitoring_agent_docker_exporter_docker_daemon_metrics_listener: '0.0.0.0'
monitoring_agent_docker_exporter_docker_daemon_metrics_addr: >-
  {{ monitoring_agent_docker_exporter_docker_daemon_metrics_listener }}:{{ monitoring_agent_docker_exporter_port | string }}

monitoring_agent_cadvisor_enabled: false
monitoring_agent_cadvisor_port: 9326
monitoring_agent_cadvisor_image_registry: ghcr.io
monitoring_agent_cadvisor_image_repository: google/cadvisor
monitoring_agent_cadvisor_image_version: "0.56.2"
monitoring_agent_cadvisor_image: >-
  {{ monitoring_agent_cadvisor_image_registry }}/{{ monitoring_agent_cadvisor_image_repository }}:{{ monitoring_agent_cadvisor_image_version }}

monitoring_agent_redis_exporter_enabled: false
monitoring_agent_redis_exporter_image_registry: docker.io
monitoring_agent_redis_exporter_image_repository: bitnami/redis-exporter
monitoring_agent_redis_exporter_image_version: "latest"
monitoring_agent_redis_exporter_image: >-
  {{ monitoring_agent_redis_exporter_image_registry }}/{{ monitoring_agent_redis_exporter_image_repository }}:{{ monitoring_agent_redis_exporter_image_version }}
monitoring_agent_redis_exporter_port: '9121'
monitoring_agent_redis_exporter_addr: "redis://localhost:6379"
monitoring_agent_redis_exporter_password: ""

monitoring_agent_nginx_exporter_enabled: false
monitoring_agent_nginx_exporter_image_registry: docker.io
monitoring_agent_nginx_exporter_image_repository: nginx/nginx-prometheus-exporter
monitoring_agent_nginx_exporter_image_version: "1.4.1"
monitoring_agent_nginx_exporter_image: >-
  {{ monitoring_agent_nginx_exporter_image_registry }}/{{ monitoring_agent_nginx_exporter_image_repository }}:{{ monitoring_agent_nginx_exporter_image_version }}
monitoring_agent_nginx_exporter_port: '9113'
monitoring_agent_nginx_exporter_scrape_uri: "http://localhost:80/nginx_status"
monitoring_agent_nginx_exporter_systemd_name: nginx_exporter
monitoring_agent_nginx_exporter_binary_download_url: https://github.com/nginx/nginx-prometheus-exporter/releases/download/v1.5.0/nginx-prometheus-exporter_1.5.0_linux_amd64.tar.gz
monitoring_agent_nginx_exporter_binary_install_path: /usr/sbin/nginx-prometheus-exporter

monitoring_agent_nginxlog_exporter_enabled: false
monitoring_agent_nginxlog_exporter_config_dir: "{{ monitoring_agent_config_dir }}/nginxlog-exporter"
monitoring_agent_nginxlog_exporter_image_registry: quay.io
monitoring_agent_nginxlog_exporter_image_repository: martinhelmich/prometheus-nginxlog-exporter
monitoring_agent_nginxlog_exporter_image_version: "v1"
monitoring_agent_nginxlog_exporter_image: >-
  {{ monitoring_agent_nginxlog_exporter_image_registry }}/{{ monitoring_agent_nginxlog_exporter_image_repository }}:{{ monitoring_agent_nginxlog_exporter_image_version }}
monitoring_agent_nginxlog_exporter_port: '4040'
monitoring_agent_nginxlog_exporter_log_dir: /var/log/nginx
monitoring_agent_nginxlog_exporter_format: >- # default format for nginx logs
  $remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" 
monitoring_agent_nginxlog_exporter_namespaces:
  - name: nginx
    source_files:
      - /var/log/nginx/access.log
monitoring_agent_nginxlog_exporter_systemd_name: nginxlog_exporter

monitoring_agent_nginxlog_exporter_log_group: adm # group for log directory
monitoring_agent_nginxlog_exporter_binary_download_url: https://github.com/martin-helmich/prometheus-nginxlog-exporter/releases/download/v1.11.0/prometheus-nginxlog-exporter_1.11.0_linux_amd64.tar.gz
monitoring_agent_nginxlog_exporter_binary_install_path: /usr/sbin/prometheus-nginxlog-exporter

monitoring_agent_ipa_exporter_enabled: false
monitoring_agent_ipa_exporter_image_registry: docker.io
monitoring_agent_ipa_exporter_image_repository: kpaciu/freeipa-exporter
monitoring_agent_ipa_exporter_image_version: "1.0.0"
monitoring_agent_ipa_exporter_image: >-
  {{ monitoring_agent_ipa_exporter_image_registry }}/{{ monitoring_agent_ipa_exporter_image_repository }}:{{ monitoring_agent_ipa_exporter_image_version }}
monitoring_agent_ipa_exporter_port: '9189'
monitoring_agent_ipa_exporter_hosts: ""  # "host1.example.com host2.example.com"
monitoring_agent_ipa_exporter_domain: ""  # only domain, not FQDN
monitoring_agent_ipa_exporter_user: ""  # for example, uid=user,cn=users,cn=accounts,dc=example,dc=com
monitoring_agent_ipa_exporter_password: ""
