services:
{% if monitoring_server_victoria_metrics_enabled %}
  victoria-metrics:
    image: victoriametrics/victoria-metrics:latest
    container_name: vm_single_node
    ports:
      - "8428:8428"
    volumes:
      - /opt/monitoring_storage:/storage
    command:
      - "-storageDataPath=/storage"
      - "-retentionPeriod=30d"
      - "-selfScrapeInterval=10s"
      - "-selfScrapeInstance=127.0.0.1:8428"
    restart: unless-stopped
    networks:
      - monitoring_net
      - proxy
{% endif %}
{% if monitoring_server_grafana_enabled %}
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD={{ monitoring_server_grafana_security_admin_password }}
      - GF_INSTALL_PLUGINS={{ monitoring_server_grafana_install_plugins }}
      - GF_PATHS_PLUGINS=/var/lib/grafana/plugins
      - GF_FEATURE_TOGGLES_ENABLE=publicDashboards
      - GF_SERVER_ROOT_URL={{ monitoring_server_grafana_server_root_url }}
      - GF_SERVER_DOMAIN={{ monitoring_server_grafana_server_domain }}
      - GF_SERVER_SERVE_FROM_SUB_PATH=false
      - GF_PATHS_DATA=/var/lib/grafana
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=*
    volumes:
      - grafana_storage:/var/lib/grafana
      - {{ monitoring_server_config_dir }}/grafana/provisioning:/etc/grafana/provisioning
    restart: unless-stopped
    depends_on:
      - victoria-metrics
    networks:
      - monitoring_net
      - proxy
    labels:
      - "traefik.enable=true"
      # Роут для HTTP (автоматический редирект на HTTPS)
      - "traefik.http.routers.grafana-http.entrypoints=web"
      - "traefik.http.routers.grafana-http.rule=Host(`{{ monitoring_server_grafana_server_domain }}`)"
      - "traefik.http.routers.grafana-http.middlewares=redirect-to-https"
      # Основной роут HTTPS
      - "traefik.http.routers.grafana.entrypoints=websecure"
      - "traefik.http.routers.grafana.rule=Host(`{{ monitoring_server_grafana_server_domain }}`)"
      - "traefik.http.routers.grafana.tls=true"
      # Middleware для HTTPS редиректа
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=true"
      # Сервис (куда направлять трафик)
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
{% endif %}
{% if monitoring_server_grafana_enabled %}
volumes:
  grafana_storage:
{% endif %}
networks:
  proxy:
    external: true  # Если сеть уже создана
    # или
    # name: proxy  # Явное имя сети
  monitoring_net:
    driver: bridge
