---

- name: Render monitoring-server compose.yml
  ansible.builtin.template:
    src: compose-monitoring-server.yml
    dest: "{{ monitoring_server_config_dir }}/compose.yml"
    owner: root
    group: root
    mode: '0644'
