---

- name: Install nginx-exporter
  notify:
    - Reload systemd daemon
    - Restart service nginx-exporter
  block:
    - name: Add the user for nginx-exporter
      ansible.builtin.user:
        name: "{{ monitoring_agent_nginx_exporter_systemd_name }}"
        create_home: false
        shell: /bin/false
        state: "{{ 'present' if monitoring_agent_nginx_exporter_enabled else 'absent' }}"

    - name: Download nginx-exporter
      ansible.builtin.get_url:
        url: "{{ monitoring_agent_nginx_exporter_binary_download_url }}"
        dest: "{{ monitoring_agent_dist_dir }}"
        tmp_dest: "{{ monitoring_agent_dist_dir }}"
        owner: root
        group: root
        mode: '0644'
      register: monitoring_agent_nginx_exporter_binary_download_url_result

    - name: Unarchive nginx-exporter
      ansible.builtin.unarchive:
        remote_src: true
        src: "{{ monitoring_agent_nginx_exporter_binary_download_url_result.dest }}"
        include:
          - "nginx-prometheus-exporter"
        dest: "{{ monitoring_agent_nginx_exporter_binary_install_path | dirname }}"

- name: Configure service nginx-exporter
  notify:
    - Reload systemd daemon
    - Restart service nginx-exporter
  block:
    - name: Render nginx-exporter systemd service
      ansible.builtin.template:
        src: "systemd/nginx-exporter/{{ monitoring_agent_nginx_exporter_systemd_name }}.service.j2"
        dest: "{{ monitoring_agent_systemd_unit_dir }}/{{ monitoring_agent_nginx_exporter_systemd_name }}.service"
        owner: root
        group: root
        mode: '0644'

    - name: Render nginx-exporter systemd socket
      ansible.builtin.template:
        src: "systemd/nginx-exporter/{{ monitoring_agent_nginx_exporter_systemd_name }}.socket.j2"
        dest: "{{ monitoring_agent_systemd_unit_dir }}/{{ monitoring_agent_nginx_exporter_systemd_name }}.socket"
        owner: root
        group: root
        mode: '0644'

    - name: State service nginx-exporter.socket
      ansible.builtin.systemd:
        name: "{{ monitoring_agent_nginx_exporter_systemd_name }}.socket"
        enabled: "{{ monitoring_agent_nginx_exporter_enabled }}"
        state: "{{ 'started' if monitoring_agent_nginx_exporter_enabled else 'stopped' }}"

    - name: State service nginx-exporter
      ansible.builtin.systemd:
        name: "{{ monitoring_agent_nginx_exporter_systemd_name }}"
        enabled: "{{ monitoring_agent_nginx_exporter_enabled }}"
        state: "{{ 'started' if monitoring_agent_nginx_exporter_enabled else 'stopped' }}"
