[Service]
ExecStartPost=/bin/chgrp {{ monitoring_agent_fail2ban_exporter_socket_group }} {{ monitoring_agent_fail2ban_exporter_socket }}
ExecStartPost=/bin/chmod g+rw {{ monitoring_agent_fail2ban_exporter_socket }}
